.header{
  position: fixed;
  width: 100%;
  height: auto; 
  box-shadow: 0 5px 5px rgba(0, 0, 0, 0.25);
  padding-top: 25px;
  text-align: center;
  font-family: 'Ubuntu', sans-serif;
  font-size: 12px;
  background-color: #fff;
  z-index: 10000;
}

.headerMenu{
  background: #FFD700 !important;
  font-family: 'Ubuntu', sans-serif !important;
  font-weight: 400 !important;
}

.menuItems{
  display: flex;
  text-align: center;
}

.logo{
	margin-top: 5px;
  text-align: center;
  border-radius: 50%;
  font-size: 30px;
  cursor: pointer;
}

.ocrbutton{
  background-color: #b8d4ec;
  color: black;
  width: 180px;
  margin-right: 10px;
  height: 50px;
  font-size: 12px;
  border-radius: 5px;
  text-align: center;
  vertical-align: middle;
  line-height: 50px;
  cursor: pointer;
  font-weight: 900;
  margin: auto;
}

.ocrbutton:active {
  background-color: #009E68; 
  color: #EBFAF5;
}

.ocrbutton:hover{
  background-color: #17a2b8;
  color: #EBFAF5;
}

.pdfconvertbutton{
  background-color: #b8d4ec;
  color: black;
  width: 180px;
  margin-right: 10px;
  height: 50px;
  font-size: 12px;
  padding-right: 10px;
  border-radius: 5px;
  text-align: center;
  vertical-align: middle;
  line-height: 50px;
  cursor: pointer;
  font-weight: 900;
  margin: auto;
}

.pdfconvertbutton:hover{
  background-color: #17a2b8;
  color: #EBFAF5;
}

.splitpdfbutton{
  background-color: #b8d4ec;
  color: black;
  width: 180px;
  margin-right: 10px;
  height: 50px;
  font-size: 12px;
  padding-right: 10px;
  border-radius: 5px;
  text-align: center;
  vertical-align: middle;
  line-height: 50px;
  cursor: pointer;
  font-weight: 900;
  margin: auto;
}

.splitpdfbutton:hover{
  background-color: #17a2b8;
  color: #EBFAF5;
}

.mergepdfbutton{
  background-color: #b8d4ec;
  color: black;
  width: 180px;
  margin-right: 10px;
  height: 50px;
  font-size: 12px;
  padding-right: 10px;
  border-radius: 5px;
  text-align: center;
  vertical-align: middle;
  line-height: 50px;
  cursor: pointer;
  font-weight: 900;
  margin: auto;
}

.mergepdfbutton:hover{
  background-color: #17a2b8;
  color: #EBFAF5;
}