.header{
	position: fixed;
  width: 100%;
  height: 100px; 
  box-shadow: 0 8px 8px rgba(0, 0, 0, 0.25);
  padding-top: 25px;
  text-align: center;
  font-family: 'Ubuntu', sans-serif;
  font-size: 32px;
  border-left: solid 5px #2185d0;
  border-right: solid 5px #2185d0;
  background-color: #fff;
  z-index: 10000;
}
.menuItems{
  display: flex;
  text-align: center;
}

.logo{
	margin-top: 10px;
  text-align: center;
  border-radius: 50%;
  font-size: 30px;
  cursor: pointer;
}

.ocrbutton{
  background-color: #b8d4ec;
  color: black;
  width: 200px;
  margin-right: 10px;
  height: 50px;
  font-size: 12px;
  border-radius: 5px;
  text-align: center;
  vertical-align: middle;
  line-height: 50px;
  cursor: pointer;
  font-weight: 900;
}

.ocrbutton:active {
  background-color: #009E68; 
  color: #EBFAF5;
}

.ocrbutton:hover{
  background-color: #17a2b8;
  color: #EBFAF5;
}

.pdfconvertbutton{
  background-color: #b8d4ec;
  color: black;
  width: 200px;
  margin-right: 10px;
  height: 50px;
  font-size: 12px;
  padding-right: 10px;
  border-radius: 5px;
  text-align: center;
  vertical-align: middle;
  line-height: 50px;
  cursor: pointer;
  font-weight: 900;
}

.pdfconvertbutton:hover{
  background-color: #17a2b8;
  color: #EBFAF5;
}

.splitpdfbutton{
  background-color: #b8d4ec;
  color: black;
  width: 200px;
  margin-right: 10px;
  height: 50px;
  font-size: 12px;
  padding-right: 10px;
  border-radius: 5px;
  text-align: center;
  vertical-align: middle;
  line-height: 50px;
  cursor: pointer;
  font-weight: 900;
}

.splitpdfbutton:hover{
  background-color: #17a2b8;
  color: #EBFAF5;
}

.mergepdfbutton{
  background-color: #b8d4ec;
  color: black;
  width: 200px;
  margin-right: 10px;
  height: 50px;
  font-size: 12px;
  padding-right: 10px;
  border-radius: 5px;
  text-align: center;
  vertical-align: middle;
  line-height: 50px;
  cursor: pointer;
  font-weight: 900;
}

.mergepdfbutton:hover{
  background-color: #17a2b8;
  color: #EBFAF5;
}