.homePage{
  margin-bottom: 100px;
  text-align: center;
  height: 300px;
  margin-left: auto;
  color: #fff;
  max-width: 1100px;
  max-height: 500px;
  overflow: hidden;
  vertical-align: middle;
  margin-top: 50px;
}

.slider{
  background: white;
}
.homeTitle{
	margin-top: 50px;
  text-align: center;
  color: black;
  font-size: 30pt;
}

.item{
  height: 250px;
  background-color: white;
  border-radius: 1px;
  text-align: center;
  float: center; 
  margin-top: 20px;
  cursor: pointer;
  display: flex;
}

.cardImageDiv{
  text-align: center;
  cursor: pointer;
  border-radius: 50%;
  background: #FFD700;
  height: 200px;
  width: 200px;
  vertical-align: middle;
}

.cardImage{
  margin: auto; 
  width: 100px;
  height: 100px;
  text-align: center;
  margin-top: 50px;
}

.cardTitle{
  font-size: 20px;
  font-weight: 500;
  margin-top: 15px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  color: black;
  float: left;
}

.cardDescription{
  font-size: 14px;
  font-weight: 500;
  margin-top: 15px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  color: black;
  float: left;
  text-align: left;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 10px;
  padding-bottom: 10px;
  background: #9FCBF1;
  border-radius: 5px;
}

.cardValue{
  color: #388e3c;
  padding-top: 8px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}