// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

.ui.button.ocrButton{
	font-family: 'Ubuntu', sans-serif;
	background-color: #b8d4ec;
  color: black;
  width: 200px;
  margin-right: 10px;
  height: 50px;
  font-size: 12px;
}

.ui.button.convertPdfButton{
	font-family: 'Ubuntu', sans-serif;
	background-color: #b8d4ec;
  color: black;
  width: 200px;
  margin-right: 10px;
  height: 50px;
  font-size: 12px;
}

.ui.button.mergePdfButton{
	font-family: 'Ubuntu', sans-serif;
	background-color: #b8d4ec;
  color: black;
  width: 200px;
  margin-right: 10px;
  height: 50px;
  font-size: 12px;
}

.ui.button.splitPdfButton{
	font-family: 'Ubuntu', sans-serif;
	background-color: #b8d4ec;
  color: black;
  width: 200px;
  margin-right: 10px;
  height: 50px;
  font-size: 12px;
}